@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CampManager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.UserIsSa ?? false)
                    {
                        <li>@Html.ActionLink("Zarządzający", "Index", "Organizations")</li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Sezon: @CampManagerWebUI.Models.UserSeasonHelper.GetSeasonName(User.Identity.GetUserName())
                                <!--<span class="caret"></span>-->
                            </a>                            
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Magazyn
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Dostawcy", "Index", "Suppliers")</li>
                                <li>@Html.ActionLink("Produkty", "Index", "Products")</li>
                                <li>@Html.ActionLink("Faktury", "Index", "Invoices")</li>
                                <li>@Html.ActionLink("Rozchód", "Index", "ProductOut")</li>
                                <li>@Html.ActionLink("Jadłospis", "Index", "Menu")</li>
                                <li>@Html.ActionLink("Miary produktów", "Index", "Measures")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Obozy
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Obozy", "Index", "Camps")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Ustawienia
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Bazy", "Index", "Bases")</li>
                                <li>@Html.ActionLink("Sezony", "Index", "Seasons")</li>
                                <li>@Html.ActionLink("Miejsca obozowe", "Index", "Places")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Raporty
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Stawka żywnościowa", "Index", "MealBids")</li>
                                <li>@Html.ActionLink("Stany obozów", "Index", "CampMeals")</li>
                            </ul>
                        </li>

                    }
                    <li>@Html.ActionLink("O programie", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Artur Stanaszek (dla @CampManagerWebUI.Models.UserOrganizationHelper.GetOrganizationName(User.Identity.GetUserName()))</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
