@model CampManagerWebUI.Models.MealBidViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Stawka</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy", "Index")
</p>
