@model CampManagerWebUI.Models.InvoiceViewModel

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Faktura</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateIntroduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIntroduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>

<div>
    <h4>Pozycje</h4>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PositionCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PositionCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Worth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Worth)
            </dd>
        </dl>
    </div>

    <table class="table">
        <tr>
            <th>
                Produkt
            </th>
            <th>
                Ilość
            </th>
            <th>
                Cena
            </th>
            <th>
                Wartość
            </th>
        </tr>

        @foreach (var item in Model.Positions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worth)
                </td>
            </tr>
        }

    </table>
</div>

