@model CampManagerWebUI.Models.CampViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Obóz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerPerson)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>

<div>
    <table class="table">
        <tr>
            <th>
                Data
            </th>
            <th>
                Śniadanie
            </th>
            <th>
                Śniadanie prowiant
            </th>
            <th>
                Śniadanie kasa
            </th>
            <th>
                Obiad
            </th>
            <th>
                Obiad prowiant
            </th>
            <th>
                Obiad kasa
            </th>
            <th>
                Kolacja
            </th>
            <th>
                Kolacja prowiant
            </th>
            <th>
                Kolacja kasa
            </th>
        </tr>

        @foreach (var item in Model.Meal)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BreakfastEat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BreakfastEatSupplies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BreakfastCash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DinnerEat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DinnerEatSupplies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DinnerCash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupperEat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupperEatSupplies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupperCash)
                </td>
            </tr>
        }

    </table>
</div>

